/*# source bootstrap-reboot.css */
:root,[data-bs-theme=light]{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-black:#000;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-gray-100:#f8f9fa;--bs-gray-200:#e9ecef;--bs-gray-300:#dee2e6;--bs-gray-400:#ced4da;--bs-gray-500:#adb5bd;--bs-gray-600:#6c757d;--bs-gray-700:#495057;--bs-gray-800:#343a40;--bs-gray-900:#212529;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-primary-rgb:13, 110, 253;--bs-secondary-rgb:108, 117, 125;--bs-success-rgb:25, 135, 84;--bs-info-rgb:13, 202, 240;--bs-warning-rgb:255, 193, 7;--bs-danger-rgb:220, 53, 69;--bs-light-rgb:248, 249, 250;--bs-dark-rgb:33, 37, 41;--bs-primary-text-emphasis:#052c65;--bs-secondary-text-emphasis:#2b2f32;--bs-success-text-emphasis:#0a3622;--bs-info-text-emphasis:#055160;--bs-warning-text-emphasis:#664d03;--bs-danger-text-emphasis:#58151c;--bs-light-text-emphasis:#495057;--bs-dark-text-emphasis:#495057;--bs-primary-bg-subtle:#cfe2ff;--bs-secondary-bg-subtle:#e2e3e5;--bs-success-bg-subtle:#d1e7dd;--bs-info-bg-subtle:#cff4fc;--bs-warning-bg-subtle:#fff3cd;--bs-danger-bg-subtle:#f8d7da;--bs-light-bg-subtle:#fcfcfd;--bs-dark-bg-subtle:#ced4da;--bs-primary-border-subtle:#9ec5fe;--bs-secondary-border-subtle:#c4c8cb;--bs-success-border-subtle:#a3cfbb;--bs-info-border-subtle:#9eeaf9;--bs-warning-border-subtle:#ffe69c;--bs-danger-border-subtle:#f1aeb5;--bs-light-border-subtle:#e9ecef;--bs-dark-border-subtle:#adb5bd;--bs-white-rgb:255, 255, 255;--bs-black-rgb:0, 0, 0;--bs-font-sans-serif:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";--bs-font-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));--bs-body-font-family:var(--bs-font-sans-serif);--bs-body-font-size:1rem;--bs-body-font-weight:400;--bs-body-line-height:1.5;--bs-body-color:#212529;--bs-body-color-rgb:33, 37, 41;--bs-body-bg:#fff;--bs-body-bg-rgb:255, 255, 255;--bs-emphasis-color:#000;--bs-emphasis-color-rgb:0, 0, 0;--bs-secondary-color:rgba(33, 37, 41, 0.75);--bs-secondary-color-rgb:33, 37, 41;--bs-secondary-bg:#e9ecef;--bs-secondary-bg-rgb:233, 236, 239;--bs-tertiary-color:rgba(33, 37, 41, 0.5);--bs-tertiary-color-rgb:33, 37, 41;--bs-tertiary-bg:#f8f9fa;--bs-tertiary-bg-rgb:248, 249, 250;--bs-heading-color:inherit;--bs-link-color:#0d6efd;--bs-link-color-rgb:13, 110, 253;--bs-link-decoration:underline;--bs-link-hover-color:#0a58ca;--bs-link-hover-color-rgb:10, 88, 202;--bs-code-color:#d63384;--bs-highlight-color:#212529;--bs-highlight-bg:#fff3cd;--bs-border-width:1px;--bs-border-style:solid;--bs-border-color:#dee2e6;--bs-border-color-translucent:rgba(0, 0, 0, 0.175);--bs-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);--bs-box-shadow-sm:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);--bs-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 0.175);--bs-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);--bs-focus-ring-width:0.25rem;--bs-focus-ring-opacity:0.25;--bs-focus-ring-color:rgba(13, 110, 253, 0.25);--bs-form-valid-color:#198754;--bs-form-valid-border-color:#198754;--bs-form-invalid-color:#dc3545;--bs-form-invalid-border-color:#dc3545}[data-bs-theme=dark]{color-scheme:dark;--bs-body-color:#dee2e6;--bs-body-color-rgb:222, 226, 230;--bs-body-bg:#212529;--bs-body-bg-rgb:33, 37, 41;--bs-emphasis-color:#fff;--bs-emphasis-color-rgb:255, 255, 255;--bs-secondary-color:rgba(222, 226, 230, 0.75);--bs-secondary-color-rgb:222, 226, 230;--bs-secondary-bg:#343a40;--bs-secondary-bg-rgb:52, 58, 64;--bs-tertiary-color:rgba(222, 226, 230, 0.5);--bs-tertiary-color-rgb:222, 226, 230;--bs-tertiary-bg:#2b3035;--bs-tertiary-bg-rgb:43, 48, 53;--bs-primary-text-emphasis:#6ea8fe;--bs-secondary-text-emphasis:#a7acb1;--bs-success-text-emphasis:#75b798;--bs-info-text-emphasis:#6edff6;--bs-warning-text-emphasis:#ffda6a;--bs-danger-text-emphasis:#ea868f;--bs-light-text-emphasis:#f8f9fa;--bs-dark-text-emphasis:#dee2e6;--bs-primary-bg-subtle:#031633;--bs-secondary-bg-subtle:#161719;--bs-success-bg-subtle:#051b11;--bs-info-bg-subtle:#032830;--bs-warning-bg-subtle:#332701;--bs-danger-bg-subtle:#2c0b0e;--bs-light-bg-subtle:#343a40;--bs-dark-bg-subtle:#1a1d20;--bs-primary-border-subtle:#084298;--bs-secondary-border-subtle:#41464b;--bs-success-border-subtle:#0f5132;--bs-info-border-subtle:#087990;--bs-warning-border-subtle:#997404;--bs-danger-border-subtle:#842029;--bs-light-border-subtle:#495057;--bs-dark-border-subtle:#343a40;--bs-heading-color:inherit;--bs-link-color:#6ea8fe;--bs-link-hover-color:#8bb9fe;--bs-link-color-rgb:110, 168, 254;--bs-link-hover-color-rgb:139, 185, 254;--bs-code-color:#e685b5;--bs-highlight-color:#dee2e6;--bs-highlight-bg:#664d03;--bs-border-color:#495057;--bs-border-color-translucent:rgba(255, 255, 255, 0.15);--bs-form-valid-color:#75b798;--bs-form-valid-border-color:#75b798;--bs-form-invalid-color:#ea868f;--bs-form-invalid-border-color:#ea868f}body{font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}hr{color:inherit;opacity:0.25}abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{font-style:normal;line-height:inherit}mark{color:var(--bs-highlight-color);background-color:var(--bs-highlight-bg)}sub,sup{position:relative;font-size:0.75em;line-height:0;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}a{color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));text-decoration:underline}a:hover{--bs-link-color-rgb:var(--bs-link-hover-color-rgb)}a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:var(--bs-font-monospace);font-size:1em}pre{display:block}code{color:var(--bs-code-color);word-wrap:break-word}a > code{color:inherit}kbd{color:var(--bs-body-bg);background-color:var(--bs-body-color);border-radius:0.25em}kbd kbd{font-size:1em}img,svg{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}caption{color:var(--bs-secondary-color);text-align:left}th{text-align:inherit;text-align:-webkit-match-parent}label{display:inline-block}button{border-radius:0}button,optgroup,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator{display:none !important}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{border-style:none}textarea{resize:vertical}fieldset{min-width:0}legend{float:left;width:100%;font-size:calc(1.275rem + 0.3vw);line-height:inherit}@media (min-width: 1200px){legend{font-size:1.5rem}}::-webkit-inner-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}::file-selector-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}progress{vertical-align:baseline}[hidden]{display:none !important}

/* Bootstrap 5 */
.ratio{position: relative;width: 100%}.ratio::before{display: block;padding-top: var(--bs-aspect-ratio);content: ""}.visually-hidden{position: absolute !important;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;position: unset !important}.align-middle{vertical-align: middle !important}.d-flex{display: flex !important}.d-none{display: none !important}.position-relative{position: relative !important}.position-absolute{position: absolute !important}.position-fixed{position: fixed !important}.position-sticky{position: -webkit-sticky !important;position: sticky !important}.top-0{top: 0 !important}.flex-wrap{flex-wrap: wrap !important}.flex-nowrap{flex-wrap: nowrap !important}.justify-content-end{justify-content: flex-end !important}.justify-content-evenly{justify-content: space-evenly !important}.align-items-center{align-items: center !important}.text-break{word-wrap: break-word;word-break: break-word }.rounded-0{border-radius: 0 }.rounded-pill{border-radius: 50em }.pb-3{padding-bottom: 1em}.pt-2{padding-top: 0.5em}.text-sm-end{text-align: right}.ps-sm-3{padding-left: 1em}.pe-sm-3{padding-right: 1em}

/* jettheme-style */

.form-control:focus{box-shadow: none;border-color: var(--jt-primary)}.form-control::placeholder{opacity: .5}.ratio:before{content: none}.ratio-1x1{padding-bottom: 100%}.ratio-4x3{padding-bottom: 75%}.object-cover{object-fit: cover}.bg-archive{background-color: var(--jt-archive-bg)}.jt-border-light{border-color: var(--jt-border-light)!important}input:checked ~ .d-block-check{display: block !important}input:checked ~ .d-none-check{display: none !important}.blog-admin{display: none}.no-items{display: none}#comment-editor{width:100%}@media (min-width: 576px){.ratio-sm-4x3{padding-bottom: 75%}.ratio-sm-16x9{padding-bottom: 56.25%}}@media (min-width: 768px){.position-md-relative{position: relative}}

:root{--bs-font-sans-serif:$(body.text.family);--bs-body-bg:$(body.background);--bs-body-color:$(body.text.color);--jt-primary:$(keycolor);--jt-heading-color:$(posts.title.color);--jt-heading-link:$(posts.title.color);--jt-heading-hover:$(keycolor);--jt-link-color:$(body.link.color);--jt-link-hover:$(body.hover.color);--jt-blockquote:$(posts.text.color);--jt-btn-primary:$(posts.icons.color);--jt-btn-primary-hover:$(labels.background.color);--jt-btn-light-hover:$(posts.title.color);--jt-border-light:$(border.color);--jt-bg-light:#f3f7f9;--jt-archive-bg:#ffffff;--jt-nav-color:$(tabs.color);--jt-nav-hover:$(tabs.hover);--jt-nav-selected:$(tabs.selected.color);--jt-dropdown-bg:$(dropdown.bg);--jt-dropdown-color:$(dropdown.color);--jt-dropdown-hover:$(dropdown.hover);--jt-dropdown-selected:$(dropdown.selected);--jt-header-bg:$(header.bg);--jt-header-color:$(header.color);--jt-header-border:$(header.border);--jt-footer-bg:$(footer.bg);--jt-footer-color:$(footer.color);--jt-footer-link:$(footer.link);--jt-footer-border:$(footer.border);--jt-socket-bg:$(socket.bg);--jt-socket-color:$(socket.color)}.dark-mode{--bs-body-bg:hsl(210, 11%, 15%);--bs-body-color:hsl(210, 11%, 80%);--jt-heading-color:hsl(210, 11%, 80%);--jt-heading-link:hsl(210, 11%, 80%);--jt-btn-light-hover:hsl(210, 11%, 85%);--jt-border-light:hsl(210, 11%, 20%);--jt-bg-light:hsl(210, 11%, 20%);--jt-archive-bg:hsl(210, 11%, 17%);--jt-nav-color:hsl(210, 11%, 70%);--jt-dropdown-bg:hsl(210, 11%, 18%);--jt-dropdown-color:hsl(210, 11%, 70%);--jt-header-bg:hsl(210, 11%, 15%);--jt-header-color:hsl(210, 11%, 80%);--jt-header-border:hsl(210, 11%, 20%);--jt-footer-bg:hsl(210, 11%, 15%);--jt-footer-color:hsl(210, 11%, 80%);--jt-footer-border:hsl(210, 11%, 20%);--jt-socket-bg:hsl(210, 11%, 17%);--jt-socket-color:hsl(210, 11%, 80%)}

/* カラー＆デザイン */

body {

color: var(--bs-body-color);
background-color: var(--bs-body-bg);

--user-dark-body-color: rgb(198, 204, 210);
--user-dark-header-color: var(--bs-gray-400);
--user-dark-body-bg: : rgb(36, 41, 45);
--user-dark-border-03: rgba(198, 204, 210, 0.3);
--user-dark-border-05: rgb(112, 111, 114);
--jt-link-hover-03: rgba(244, 96, 19, 0.3);

--user-cream: rgb(255,253,208);

--user-azure: rgb(240, 255, 255);
--user-electric-blue: rgb(125, 249, 255);
--user-light-blue: rgb(173, 216, 230);
--user-sky-blue: rgb(135, 206, 235);
--user-neon-blue: rgb(31, 81, 255);
--user-bluesky-blue: rgb(0, 133, 255);
--user-iris: rgb(93, 63, 211);
--user-indigo: rgb(63, 0, 255);
--user-charcoal: rgb(54,69,79);
--user-midnight-blue: rgb(25, 25, 112);
--user-navy-blue: rgb(0, 0, 128);
--user-dark-purple: rgb(48, 25, 52);

--user-light-green: rgb(234, 250, 241);
--user-kelly-green: rgb(76, 187, 23);
--user-cadmium-green: rgb(9, 121, 105);
--user-dark-green: rgb(2, 48, 32);

--user-terra-cotta: rgb(227, 115, 94);
--user-ruby-red: rgb(222,15,94);
--user-carmine: rgb(215, 0, 64);
--user-red-brown: rgb(165, 42, 42);
--user-taupe: rgb(72,60,50);

--user-jet-black: rgb(52, 52, 52);
--user-matte-black: rgb(40, 40, 43);
--user-licorice: rgb(27, 18, 18);

--user-iris-50: rgba(93, 63, 211, 0.5);

--gradient-white-azure: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(255, 255, 255, 0.9) 0%,  rgba(240, 255, 255, 0.9) 100.2% );
--gradient-midnight-blue-licorice: radial-gradient( circle farthest-corner at 45% 30%, rgb(25, 25, 112) 0%, rgb(27, 18, 18) 100.2% );
--gradient-licorice-midnight-blue: radial-gradient( circle farthest-corner at 45% 30%, rgb(27, 18, 18) 0%, rgb(25, 25, 112) 100.2% );
--gradient-dark-purple-licorice: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(48, 25, 52, 0.85) 0%, rgba(27, 18, 18, 0.85) 100.2% );
--gradient-terra-cotta-ruby-red: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(227, 115, 94, 0.85) 0%, rgba(222,15,94, 0.85) 100.2% );

--shadow-large: 1px 4px 16px rgba(0,0,0,.3);
--shadow-regular: 0 2px 8px rgba(0,0,0,.15);
--shadow-light: 0 2px 8px rgba(0,0,0,.075);

--shadow-art: 0px 2px 32px -5px rgba(0, 0, 0, 0.06),
        0px 3px 3px -5px rgba(0, 0, 0, 0.08),
        0px 6px 6px -5px rgba(0, 0, 0, 0.1),
        0px 10px 10px -5px rgba(0, 0, 0, 0.2);
--shadow-art-light: 0px 1px 16px -3px rgba(0, 0, 0, 0.03),
        0px 2px 2px -3px rgba(0, 0, 0, 0.04),
        0px 3px 3px -3px rgba(0, 0, 0, 0.05),
        0px 5px 5px -3px rgba(0, 0, 0, 0.1);
--shadow-art-light-reverse: 0px -1px 16px -3px rgba(0, 0, 0, 0.03),
        0px -2px 2px -3px rgba(0, 0, 0, 0.04),
        0px -3px 3px -3px rgba(0, 0, 0, 0.05),
        0px -5px 5px -3px rgba(0, 0, 0, 0.1);

--dark-shadow-art-light: 0px 1px 16px -3px rgba(198, 204, 210, 0.2),
        0px 2px 2px -3px rgba(198, 204, 210, 0.15),
        0px 3px 3px -3px rgba(198, 204, 210, 0.2),
        0px 5px 5px -3px rgba(198, 204, 210, 0.4);
--dark-shadow-art-light-reverse: 0px -1px 16px -3px rgba(198, 204, 210, 0.1),
        0px -2px 2px -3px rgba(198, 204, 210, 0.08),
        0px -3px 3px -3px rgba(198, 204, 210, 0.1),
        0px -5px 5px -3px rgba(198, 204, 210, 0.2);

}

.dark-mode body{
	--jt-link-color: var(--user-sky-blue);
	--jt-nav-color: var(--bs-gray-200);
	--jt-dropdown-color: var(--bs-gray-200);
	--bs-body-bg: var(--user-licorice);
}

.jt-bg-light {
	background-color: var(--jt-bg-light)
}

body {
	--radius-01: 0.1em;
	--radius-02: 0.2em;
	--radius-03: 0.3em;
	--radius-04: 0.4em;
	--radius-05: 0.5em;
}


/* フォント */

:root {
	font-size: calc(1rem + 0.25vw);
}

body {

	font-family: var(--font-system-ui);
	--bs-font-sans-serif: var(--font-system-ui);
	--bs-font-monospace: var(--font-bizgothic);

	--font-system-ui:-apple-system, BlinkMacSystemFont,'Helvetica Neue', "Segoe UI", "Hiragino Sans", system-ui, sans-serif;
	--font-bizgothic:-apple-system, BlinkMacSystemFont,'Helvetica Neue', "Segoe UI", "Hiragino Sans", "BIZ UDGothic", system-ui, sans-serif;
	--font-arial-bizgothic:-apple-system, BlinkMacSystemFont,'Helvetica Neue', "Arial", "Hiragino Sans", "BIZ UDGothic", system-ui, sans-serif;

	font-size: 1rem;

	--font-06: 0.6rem;
	--font-065: 0.65rem;
	--font-07: 0.7rem;
	--font-075: 0.75rem;
	--font-08: 0.8rem;
	--font-085: 0.85rem;
	--font-09: 0.9rem;
	--font-095: 0.95rem;
	--font-10: 1rem;
	--font-105: 1.05rem;
	--font-11: 1.1rem;
	--font-115: 1.15rem;
	--font-12: 1.2rem;
	--font-125: 1.25rem;
	--font-13: 1.3rem;

	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.4;
}

h1 {
	font-size: var(--font-13);
}
h2 {
	font-size: var(--font-12);
}
h3 {
	font-size: var(--font-11);
}
h4, h5, h6 {
	font-size: var(--font-105);
}

a {
	text-decoration: 1px underline;
	text-underline-position: under;
	color: var(--jt-link-color);
}

a:hover {
	color: var(--jt-link-hover);
}


li {
	list-style-type: none;
}


/* レイアウト*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	overflow: hidden;
}

:root,
body,
#primary,
#primary-container,
#main-content,
#main,
#main-spacer,
#sidebar-base,
#sidebar,
#blog-post,
#Blog1,
#page-content,
.entry-text,
a,
ul,
ol,
li,
figure,
.widget {
	overflow: visible;
}

body {
	display: grid;
	grid-template-columns: 100%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
	display: block grid;
	gap: 2em;
	grid-template-columns: 100%;
	overflow: visible;
}

#primary-container {
	max-width: 100%;
	padding: 0 calc(8vw - 32px);
}

#main-content {
	display: grid;
	gap: 6em 3%;
	grid-template-columns: 70% 27%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	padding-left: 4vw;
    padding-right: 4vw;
}

#main-spacer {
	display: grid;
	grid-template-columns: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#sidebar {
	padding-left: 6vw;
}

@media (max-width: 1023.98px) {
	#main-content {
		grid-template-columns: 100%;
	}
	#main {
        padding-left: 8vw;
        padding-right: 8vw;
	}
	#sidebar {
		padding-left: 14vw;
		padding-right: 14vw;
	}
}


.dark-mode {
	img,
	frame,
	.thumbnail__btn {
		opacity: 0.92;
	}
	.thumbnail-img {
		opacity: 0.96;
	}
}


/* アニメーション */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
}

body,
header,
footer,
.mini-card,
.blogcard-auto,
pre,
code,
input,
textarea,
button,
svg,
h1,
h2 {
    transition: background 0.3s ease-out, background-color 0.3s ease-out, color 0.2s ease-out, fill 0.2s ease-out, stroke 0.2s ease-out;
}

#main {
	opacity: 0;
	animation: fade-in 500ms forwards;
}

#sidebar {
	opacity: 0;
	animation: fade-in 600ms forwards;
}

.widget-content {
	opacity: 0;
	animation: fade-in 700ms forwards;
}

.loaded {
	opacity: 0;
	animation: fade-in-fast 1000ms forwards;
}

.dropdown-menu,
.nav-link,
.dropdown-toggle {
  transition: .3s;
}

@keyframes fade-opacity-10 {
  0% { opacity : 1;}
  60% { opacity : 1;}
  80% { opacity : 0.1;}
  85% { opacity : 0.1;}
  100% { opacity : 1;}
}

@keyframes fade-in-fast {
	0% { opacity : 0;}
	100% { opacity : 1;}
}

@keyframes fade-in {
	0% { opacity : 0;}
	50% { opacity : 0;}
	100% { opacity : 1;}
}

.fade-in-fast-300ms {
	opacity: 0;
	animation: fade-in-fast 300ms forwards;
}

.fade-in-600ms {
	opacity: 0;
	animation: fade-in 600ms forwards;
}

.fade-in-800ms {
	opacity: 0;
	animation: fade-in 800ms forwards;
}

.fade-in-1000ms {
	opacity: 0;
	animation: fade-in 1000ms forwards;
}

.gpu-accelerated {
	transform: translateZ(0);
	contain: layout style;
}


/* 遅延描写 */

@media (max-width: 1023.98px) {
	#sidebar {
		content-visibility: auto;
		contain-intrinsic-size: 3000px;
	}
}


/* 小物 */

input,
textarea {
	height: 2.5em;
    padding: .5em;
    font-size: var(--font-08);
    border: none;
    border-radius: var(--radius-04);
    background-color: var(--jt-bg-light);
    max-width: 100%;
    width: 100%;
    color: var(--bs-body-color);
}

.btn {
  display: block;
  position: relative;
  top: -1px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
	padding: 0.375em 0.75em;
	border-radius: 50em;
}

.dark-mode {
	.btn {
		background-color: var(--gradient-dark-purple-licorice);
	}
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  gap: 2em;
}

.square-button {
  display: block;
  cursor: pointer;
  border-radius: var(--radius-04);
  font-size: var(--font-09);
  font-weight: 600;
  padding: .3em 1em;
  color: #fff;
  text-decoration: none;
  background-color: rgba(31, 81, 255, 0.87);
  -webkit-appearance: none;
  box-shadow: var(--shadow-regular);
}

.square-button:hover {
  background-color: rgba(31, 81, 255, 0.5);
  color: #f8f9fa;
}

.round-button {
    display: block;
	text-decoration: none;
	font-size: var(--font-09);
  	font-weight: 600;
	background-color: var(--user-carmine);
    color: #fff;
    border: 0;
    border-radius: 10vh;
    padding: 0.5em 1.25em;
	cursor: pointer;
	box-shadow: var(--shadow-regular);
}

.round-button:hover {
    color: #fff;
	background-color: rgb(215, 0, 64, 0.7);
}

.round-button.toggle-dark-mode-btn {
	background-color: var(--user-midnight-blue);
}

.round-button.toggle-dark-mode-btn:hover {
	background-color: rgb(25, 25, 112, 0.7);
}

.jt-icon {
display: inline-block;
height: 1em;
vertical-align: -0.15em;
width: 1em;
fill:none;
stroke:currentColor;
stroke-linecap:round;
stroke-linejoin:round;
stroke-width:2;
}

.jt-btn-primary,
.jt-btn-outline-primary:hover {
color: #fff;
background-color: var(--jt-btn-primary);
border-color: var(--jt-btn-primary);
}
.jt-btn-light {
color: var(--bs-body-color);
background-color: var(--jt-bg-light);
border-color: var(--jt-bg-light);
}
.jt-btn-light:hover {
color: var(--jt-btn-light-hover);
}
.jt-btn-primary:hover,
.hover-btn-primary:hover,
input:checked + .jt-btn-outline-primary {
color: #fff !important;
background-color: var(--jt-btn-primary-hover)!important;
border-color: var(--jt-btn-primary-hover)!important
}
.jt-btn-outline-primary {
color: var(--jt-btn-primary);
border-color: var(--jt-btn-primary);
}

.widget-title {
	position: relative;
	font-family: var(--font-system-ui);
	font-weight: 200;
	background: transparent!important;
	box-shadow: none;
}

.widget-title:before {
	z-index: -1;
	background-color:  var(--jt-bg-light);
	content: "";
	height: 1px;
	display: block;
	position: absolute;
	top: 0.75em;
	width: 100%;
}

label {
cursor: pointer;
}


/* 固定ページ */

.change-language-container {
  text-align: end;
  font-size:var(--font-08);
}
.change-language {
  display: inline-block;
  margin-left: 0.5em;
  font-size:var(--font-08);
}
.markdown-converter-status {
    padding: 0.25em 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(234, 250, 241, 0.8);
    color: rgba(2, 48, 32, 0.9);
    opacity: 0;
}
.markdown-converter-status.error {
    background-color: rgba(253, 237, 236, 0.8);
    color: rgba(110, 38, 14, 0.9);
}
.textarea-container {
    position: relative;
    width: 100%;
}
.markdown-converter-result {
    width: 100%;
    min-height: 10vh;
    resize: none;
}
.copy-button {
    display: none;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    padding: 0.25em 0.5em;
    font-size: var(--font-08);
    color: var(--bs-body-color);
    background-color: var(--jt-bg-light);
    border: 1px solid var(--bs-body-color);
    border-radius: var(--radius-04);
    cursor: pointer;
    box-shadow: var(--shadow-regular);
}

.switch-button {
    display: none;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    padding: 0.25em 0.5em;
    font-size: var(--font-08);
    color: var(--bs-body-color);
    background-color: var(--jt-bg-light);
    border: 1px solid var(--bs-body-color);
    border-radius: var(--radius-04);
    cursor: pointer;
    box-shadow: var(--shadow-regular);
}

/* ヘッダー */

#header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
	padding-left: 5vw;
	padding-right: 5vw;
	height: 3em;
	color: var(--jt-header-color);
	border-bottom: 1px solid var(--jt-header-border);
	background: var(--gradient-white-azure);
    box-shadow: var(--shadow-art-light);
	overflow: visible;
}

@media (min-width: 991.97px) {
	#header.header-hidden {
		top: -60px;
	}
}

#header-main {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
}


.dark-mode {
	#header {
		background: var(--gradient-dark-purple-licorice);
    	box-shadow: none;
	}
}

#HTML10 {
	order: 1;
	flex-shrink: 1;
	overflow: visible;
}

#navbar {
	order: 2;
	z-index: 2000;
	overflow: visible;
}

#LinkList10 {
	order: 3;
	flex-shrink: 0;
}

#nav-link-container,
.menu-item,
.nav-link,
.dropdown-menu {
	overflow: visible;
}

.navbar-brand {
	display: block;
	opacity: 0.8;
}

#logo-container {
  display: flex;
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向にも中央揃え */
}

#logo-text {
	font-weight: bold;
}


#nav-link-container {
  display: flex;
  flex-direction: column;
}

.menu-item {
position: relative;
}

.nav-link {
	display: block;
	font-family: var(--font-bizgothic);
	font-weight: 600;
	font-size: var(--font-085);
	color: var(--jt-heading-color);
	padding: 0.5em 1em;
	text-decoration: none;
}

.nav-link:hover {
	color: var(--jt-link-hover);
}

.nav-link.active {
	color: var(--jt-nav-selected);
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10em;
  text-align: left;
	background-color: var(--bs-body-bg);
  border: 1px solid var(--jt-border-light);
    border-radius: var(--radius-04);
}

.dropdown-menu .nav-link {
	padding-right: 2em;
	font-size: var(--font-07);
	font-weight: 400;
}

#navbar-toggle-label { 
	position: absolute;
	top: 3%;
	right: 5%;
}

#navbar-close-svg { 
	height: 32px;
	width: 32px;
}

.dropdown-toggle {
    position: absolute;
    right: 3vw;
	top: 1.25em;
	align-items: center;
	display: flex;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: "";
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
}

.collapse:not(.show) {
	display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 991.98px) {
		input:checked ~ .dropdown-menu {
		display: block;
	}
	input:checked + .dropdown-toggle {
		color: var(--jt-dropdown-selected);
	}
	#navbar {
		background-color: var(--jt-header-bg);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: auto;
	}
	#navbar.d-block {
		opacity: 0;
		transform: translateX(-20%);
	}
	#navbar.show {
		transform: translateX(0);
		opacity: 1;
	}
	#nav-link-container {
		padding: 10vh 10vw 5vh;
		max-height: 100%;
		overflow-y: auto;
	}
	#navbar-toggle:checked ~ #navbar {
		display:block;
	}
	.nav-link {
		padding: 1em;
		border-top: solid 1px var(--jt-border-light);
		border-bottom: solid 1px var(--jt-border-light);
	}
	#nav-link-container .dropdown-menu {
		position: static;
		padding: 0 0 0 1em;
		border: none;
	}
}

@media (min-width: 991.98px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #nav-link-container {
    flex-direction: row;
  }
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
	.dropdown-toggle {
		top: 0;
		right: 0;
	}	
	.dropdown-toggle::after {
		border-width: 0.25em;
	}
	#navbar-close-svg { 
		margin-top: -3em;
	}
	#nav-link-container .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		box-shadow: var(--shadow-regular);
		top:100%;
		min-width: 13em;
		white-space: nowrap;
	}
	.menu-item:hover > .nav-link,
	.menu-item:hover > .dropdown-toggle {
		color:  var(--jt-dropdown-hover);
	}
	.menu-item > .nav-link.active,
	.menu-item > .active ~ .dropdown-toggle {
	color:  var(--jt-dropdown-selected);
	}
	#nav-link-container .menu-item:hover > .dropdown-menu {
		opacity: 1;
		visibility: visible;
		pointer-events: unset;
	}
}

#LinkList10 {
	border-left: 2px solid var(--jt-header-border);
}

#header .jt-icon {
	display: block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.header-social {
	display: flex;
	border-right: 1px solid var(--jt-header-border);
}

.header-social svg{
	height: 1.5em;
	width: 1.5em;
}

#dark-search-menu-icon-container {
	display: flex;
	border-left: 2px solid var(--jt-header-border);
}

.i-pinterest svg{
	fill: var(--bs-body-color);
}

.i-pinterest:hover svg{
	fill: var(--jt-link-hover);
}

.i-bluesky svg{
	fill: var(--user-bluesky-blue);
	stroke: none;
}

.i-bluesky:hover svg{
	fill: var(--jt-link-hover);
}

#dark-search-menu-icon-container svg{
	height: 1.5em;
	width: 1.5em;
	fill: none;
	stroke: var(--bs-body-color);
}

#dark-search-menu-icon-container svg:hover{
	stroke: var(--jt-link-hover);
}

.icon-dark {
	display: none;
}

.dark-mode {
	.icon-light {
		display: none;
	}
	.icon-dark {
		display: block;
	}
}

@media (min-width: 991.98px) {
	#navbar-toggler {
		display: none;
	}
}

#LinkList10,
#dark-search-menu-icon-container,
#search-header {
	overflow: visible;
}

#search-header .dropdown-menu {
	justify-content: space-between;
	align-items: stretch;
	background-color:var(--bs-body-bg);
	color: var(--jt-dropdown-color);
	border-color: var(--jt-header-border);
	right:0;
	top: 100%;
}


.input-group {
	display: flex;
	align-items: center;
	font-size: var(--font-09);
	box-shadow: var(--shadow-regular);
}

#search-input {
	background-color: transparent;
	padding: 1em;
}

#header-search-button {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: var(--font-07);
	background-color: var(--user-carmine);
    color: #fff;
}

.dark-mode {
	#search-input {
		background-color: var(--jt-bg-light);
	}
	#header-search-button {
		opacity: 1;
	}
}


/* メイン */

#breadcrumb-container,
.feature-image {
	display: none;
}

#main .widget-title {
	margin: 0 0 0 -1em;
	font-size: var(--font-08);
	overflow: visible;
}

#main .widget-title:before {
	border-right: 30px solid var(--jt-primary);
	height: 5px;
}

#single-content,
#page-content,
.entry-text5 {
	display: grid;
	grid-template-columns: 100%;
	gap: 6vh;
	padding-bottom: 3em;
	overflow: visible;
}

#label-header-container {
	padding-top: 6vh;
}

.entry-header {
	display: grid;
	grid-template-columns: 100%;
	gap: 4vh;
	padding-top: 8vh;
}

h1 {
	padding: 1.5em 1em;
	color: #fff;
	background: var(--gradient-licorice-midnight-blue);
	text-align: center;
	font-family: var(--font-bizgothic);
	box-shadow: var(--shadow-regular);
}

.dark-mode {
	.entry-title {
		color: var(--bs-gray-300);
		background: var(--gradient-midnight-blue-licorice);
		text-shadow:0px 0px 10px var(--bs-body-bg);
	}
}

.entry-meta {
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	font-size: var(--font-09);
}

.entry-tag-container.mb-2.mb-4 {
	display: none;
	justify-content: center;
	margin: 0!important;
}

.entry-tag-container a {
	display: block;
	margin: 0 0.25em;
}

.entry-tag-container a:hover {
	color: var(--jt-link-hover);
}

.entry-meta-date {
	display: inline-flex;
	justify-content: center;
	align-items: baseline;
	margin-left: -2em;
	font-weight: 200;
}

.entry-meta-date svg {
	margin: 0 1em 0 2em;
	height: 0.7em;
}

.entry-text{
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	overflow: visible;	
}

section{
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	overflow: visible;
}

.entry-text h2 {
	font-family: var(--font-bizgothic);
	text-align: center;
	margin: 3em 0 1em;
	padding: 1em;
	background: var(--gradient-licorice-midnight-blue);
	color: #fff;
	box-shadow: var(--shadow-regular);
}

.dark-mode {
	.entry-text h2 {
		color: var(--bs-gray-300);
		background-color: var(--gradient-midnight-blue-licorice);
		text-shadow:0px 0px 10px var(--bs-body-bg);
	}
}

.entry-text h3 {
	margin: 1em 0 0.5em;
	padding-left: 1em;
	font-family: var(--font-bizgothic);
	border-left: solid 5px var(--user-indigo);
	color: var(--jt-heading-color);
}

.entry-text h3:after {
	margin: 3px 0 0 -5px;
	content: "";
	display: block;
 	height: 3px;
 	background: linear-gradient(3deg, var(--user-indigo) 0%, transparent);
}

.entry-text h4 {
	margin: 1em auto 0 0;
	font-family: var(--font-bizgothic);
	padding: 0 0.1em;
	color: var(--jt-heading-color);
	background: linear-gradient(3deg, var(--user-indigo) 0%, rgba(63, 0, 255, 0.1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 3px;
	background-position: 0% 102%;
}

.entry-text h5 {
	margin: 1em auto 0 0;
	font-family: var(--font-bizgothic);
	padding-left: 0.1em;
	color: var(--jt-heading-color);
	background: linear-gradient(3deg, var(--user-kelly-green) 0%, rgb(76, 187, 23, 0.1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 3px;
	background-position: 0% 102%;
}

.entry-text h6 {
 	color: var(--jt-heading-color);
	font-family: var(--font-bizgothic);
}

.dark-mode {
	.entry-text h2,
	.entry-text h3,
	.entry-text h4,
	.entry-text h5,
	.entry-text h6 {
		color: var(--user-dark-header-color);
	}
}

.entry-text p {
	padding: 0 0.25em;
}

.entry-text ul,
.entry-text ol {
	padding-left: 2em;
	display: grid;
	grid-template-columns: 100%;
	gap: 0.75em;
}

.entry-text li{
	list-style-type: disc;
}

.entry-text li > ul > li {
	list-style-type: circle;
}

.entry-text ol > li {
	list-style-type: decimal;
}

strong,
bold {
    font-family: var(--font-bizgothic);
}

blockquote {
	display: grid;
	grid-template-columns: 100%;
	gap: 1em;
	text-align: start;
	font-size: var(--font-09);
	border-left:  5px solid var(--jt-blockquote);
	color: inherit;
	padding: 0.5em 0 0.5em 1em;
}

.mermaid-block {
	display: flex;
	padding: 0 2em;
	background-color: transparent;
}

pre {
	padding: 1em;
	white-space: pre-wrap;
	background-color: var(--jt-bg-light);
}

code {
    padding: 0.25em 0.5em;
	font-size: var(--font-09);
	font-family:var(--font-arial-bizgothic);
	color: var(--bs-body-color);
    border-radius: var(--radius-04);
	background-color: var(--jt-bg-light);
}

.mermaid {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    background-color: transparent;
}

g,
foreignObject {
	overflow: visible;
}

li > ul {
	padding-top: 0.75em;
}

.entry-text .original-japanese-article-title {
	text-align: start;
	padding: 0;
	font-size: var(--font100);
	color: var(--bs-body-color);
	background: transparent;
	box-shadow: none;
}

.dark-mode {
	.entry-text .original-japanese-article-title {
		background: transparent;
	}
}

.entry-text .widget-title {
	box-shadow: none;
}

.widget.HTML a,
#toc-post a {
	text-decoration: none;
}

#HTML5 {
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	padding-top: 2em;
	font-size: var(--font-085);
	min-height: 306px;
	overflow: visible;
}


#HTML5 span{
	font-size: var(--font-08);
}

#HTML5 ul {
	font-family: var(--user-bizgothic);
	font-weight: normal;
}

#inline-related-article{
	box-sizing: border-box;
	padding: 2em;
	border: 2px solid var(--jt-border-light);
    border-radius: var(--radius-04);
}

#post-pager {
	display: grid;
	grid-template-columns: 50% 50%;
	font-size: var(--font-085);
	min-height: 130px;
	font-family: var(--user-bizgothic);
    border-top: 1px solid var(--jt-border-light);
    border-bottom: 1px solid var(--jt-border-light);
}

#post-pager a {
	display: grid;
	grid-template-columns: 100%;
    gap: 0.5em;
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.pager-navigation {
  display: block;
}

.next-page {
    border-left: 1px solid var(--jt-border-light);
}

@media (max-width: 767.98px) {
	#HTML5 {
		display: none;
	}
}

.custom-posts.related-posts {
	display: none;
}

#noscript-notice{
	font-size: var(--font-08);
}


/* picture menu */

.picture-base {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 3em);
	overflow: visible;
}

.picture-spacer {
    aspect-ratio: 1 / 1;
	margin: auto;
    height: 100%;
	max-height: calc(80vh - 3em);
	max-height: calc(90svh - 3em);
    background-color: var(--user-licorice);
	overflow: visible;
}

.picture-container {
    position: relative;
    box-shadow: var(--shadow-art);
}

.picture-content {
    display: grid;
    isolation: isolate;
    position: relative;
}

.picture-content figure {
  	margin: 0;
	padding: 0;
	text-align: start;
    z-index: -1;
    height: 100%;
    grid-row: 1 / -1;
}

.picture-content .round-button {
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.picture-menu-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.text__content {
	font-family: var(--font-bizgothic);
    display: grid;
    gap: 1em;
    position: absolute;
    bottom: 8vh;
    bottom: 8svh;
    left: calc(100%/20);
}

h2.picture-title {
	text-align: center;
    font-weight: 600;
	font-family: var(--font-bizgothic);
	margin: 0;
	padding: 0.5em 1em;
	color: #fff;
    opacity: 0;
	background: var(--user-cadmium-green)!important;
	box-shadow: var(--shadow-regular);
}

@media (max-width: 575.98px) {
	.toggle-dark-mode-btn {
		display: none;
	}
	.picture-base .toggle-dark-mode-btn {
		display: block;
	}
}

.dark-mode {
	.picture-container,
 	.button-container {
		.picture-title {
			color: var(--bs-gray-100);
		}
	 	.round-button {
			color: var(--bs-gray-100);
		}
	}
}

@media (max-width: 1023.98px) {
	.picture-spacer {
		position: absolute;
		width: 100%;
  		top: 0;
  		left: 0;
	}
	.picture-menu-img {
    	width: 100%;
    	height: 100vh;
		height: 100svh;
    	object-fit: cover;
	}
}

.picture-title {
    animation: picture-title-animation 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes picture-title-animation {
    0% {
        transform: translateX(1em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0.92;
    }
}

.round-button {
    animation: round-button-animation 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 200ms;
}

@keyframes round-button-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.97;
    }
}


/* item-list */

.popular-posts,
.item-post-base {
	display: grid;
	gap: 4vh;
	grid-template-columns: 100%;
}

.item-post-link {
	display: flex;
}

.item-thumbnail,
.list-item-thumbnail {
	flex-shrink: 0;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-04);
}

#sidebar .thumbnail-img {
  width: 10vh;
  height: 10vh;
}

.item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 5%;
}

.item-title {
	margin: 0;
	font-size: var(--font-07);
	font-weight: 400;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	color: inherit;
}

.item-meta {
	margin: 0 0 -7px 0;
	font-size: var(--font-065);
	padding: 0 0 0 0.25em;
}

.item-meta svg {
	margin-right: 0.5em;
}

@media (max-width: 1023.98px) {
	.item-title {
		font-size: var(--font-085);
	}
}


/* 一覧ページ */

#blog-content {
	display: grid;
	gap: 4vh;
	grid-template-columns: 100%;
	padding: 4vh 0.5em;
}

.list-item-link{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
    position:relative;
	z-index: 1;
	overflow: visible;
}

.list-item-link > a{
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.list-item-card {
	display: grid;
    grid-template-columns: 18vh auto;
    border-radius: var(--radius-04);
	overflow: visible;
}

.list-item-link:nth-child(even) {
	direction: rtl;
    grid-template-columns: auto 18vh;
}

.list-item-thumbnail{
    flex-shrink:0;
    height: 18vh;
    width: 18vh;
	box-shadow: var(--shadow-regular);
}

.list-item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	direction: ltr;
	padding: 1.25% 0 0 5%;
}

.list-item-link:nth-child(even) .list-item-content {
	padding: 1.25% 5% 0 0;
}

.list-item-tag {
	display: none;
}

.list-item-title {
	margin: 0;
    font-family: var(--font-bizgothic);
	font-size: var(--font-085);
	font-weight: 600;
	line-height: 1.4;
	min-height: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.list-item-snippet {
	margin: 0;
	font-size: var(--font-08);
	line-height: 1.4;
	display: -webkit-box;
	min-height: 0px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.list-item-meta {
	display: none;
}

@media (max-width: 575.98px) {
	.item-content.list-item-content {
		padding: 2.5% 5%;
	}
	.list-item-title {
		font-size: var(--font-08);
        line-height: 1.3;
	}
	.list-item-snippet {
		font-size: var(--font-075);
        	line-height: 1.3;
		-webkit-line-clamp: 2;
	}
}

.list-item-link:hover {
    color: var(--jt-link-hover);

	.list-item-thumbnail{
		box-shadow: var(--shadow-light);
	}
}


/* サイドバー */

#sidebar {
	height: 100%;
	font-size:var(--font-08);
	border-left: 1px solid var(--jt-border-light);
}

@media (max-width: 991.98px) {
	#sidebar {
		border-left: none;
	}
}

#sidebar-static,
#sidebar-sticky {
	display: grid;
	gap: 6vh;
	grid-template-columns: 100%;
	padding-top: 8vh;
	padding-bottom: 6vh;
	border-top: 1px solid var(--jt-border-light);
	overflow: visible;
}

#sidebar-sticky {
	padding-top: 12vh;
}

@media (max-width: 1023.98px) {
	#sidebar-sticky {
		display: none;
	}
}

#sidebar a {
	text-decoration: none;
}

#sidebar .widget {
    margin: 0;
}

@media (max-width: 1023.98px) {
	#sidebar .widget {
    	padding-left: 1em;
	}
}

#sidebar .widget-title {
  padding-bottom: 6vh;
  margin-left: -1em;
  font-size: var(--font-07);
}

@media (min-width: 1023.98px) {
	#HTML7 {
		display: none;
	}
}

@media (max-width: 1023.98px) {
 	#HTML4,
 	#HTML8,
	#HTML11 {
		display: none;
	}
}

@media (max-width: 767.98px) {
	#Label1,
	#Label2,
	#Label3,
	#Label4 {
		display: none;
	}
}

#HTML3 {
	min-height: 46vh;
}

#sidebar .btn {
	font-size: var(--font-07);
	color: var(--jt-link-color);
}

#sidebar .btn:hover {
	color: var(--jt-link-hover);
}

#sidebar .item-meta {
	display: none;
}

#Label1 ul {
  gap: 2.5vh;
}

#HTML12 {
	text-align: start;
}

.label-number {
	position: relative;
	top: -1px;
	margin-left: 0.25em;
	font-weight: 300;
}

#HTML2 p {
	margin-top: 3vh;
}

#about-me-name {
  text-align: center;
}

#HTML6,
#sidebar-bottom-navigation-links {
	overflow: visible;
}

.widget-content {
	overflow: visible;
}

#HTML1 .widget-title span,
#HTML6 .widget-title span,
#HTML7 .widget-title span{
	visibility: hidden;
}

#dmca-container {
	max-width: 125px;
	margin-left: auto;
	margin-right: auto;
}

#mobile-back-to-top-button {
	margin-left: auto;
	margin-right: auto;
	width: 13em;
}

#mobile-page-top-text-container {
	margin-left: auto;
	margin-right: auto;
}

#back-to-top {
	overflow: visible;
}

.back-to-top-arrow {
    fill: var(--user-iris);
	width: 8vh;
	height: 8vh;
    border-radius: var(--radius-04);
	background-color: var(--bs-body-bg);
	box-shadow: var(--shadow-regular);
}

.back-to-top-arrow:hover {
	box-shadow: var(--shadow-light);
    fill: var(--jt-link-hover);
}

.dark-mode {
	.back-to-top-arrow {
    	fill: var(--jt-link-color);
	}
	.back-to-top-arrow:hover {
    	fill: var(--jt-link-hover);
	}
}


/* ミニカード */

.mini-card-container {
	display: grid;
	gap: 4vh;
	margin: 0 auto 0 0;
	overflow: visible;
}

.mini-card {
	margin: 0 auto 0 0;
	height: 8vh;
	font-size: var(--font-075);
    border-radius: var(--radius-04);
	color: var(--jt-link-color);
	border-color: var(--bs-body-color);
    box-shadow: var(--shadow-regular);
	white-space: nowrap!important;
}

.mini-card-link {
	display: grid;
	grid-template-columns: 8vh auto;
	align-items: center;
    text-decoration: none;
}

.mini-card-image-container {
	flex-shrink: 0;
}

.mini-card-image,
.mini-card-svg {
	width: 8vh;
	height: 8vh;
}

.mini-card-text-container {
    padding: 0 1em;
}

.mini-card-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#Blog1 {
	.mini-card-image,
	.mini-card-svg {
		animation: fade-opacity-10 10s infinite;
	}
}

.mini-card:hover {
	cursor: pointer;
	box-shadow: var(--shadow-light);
	border-color: var(--jt-link-hover);
	color: var(--jt-link-hover);
}

.dark-mode {
	.mini-card {
		background: var(--gradient-dark-purple-licorice);
		outline: 1px solid var(--user-dark-border-03);
	}
	.mini-card:hover {
		outline-color: var(--jt-link-hover-03);
		box-shadow: var(--dark-border-shadow-hover);
	}
}


/* Searchウィジェット */

.BlogSearch h3 {
  display: none;
}

#BlogSearch2 {
	overflow: visible;
}

.gsc-search-box {
	display: grid;
	grid-template-columns: 1fr auto;
	outline: solid 1px var(--jt-border-light);
}

.gsc-input {
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0.75em;
  height: 100%;
}

.gsc-input::placeholder {
  color: var(--user-dark-header-color);
  font-size: var(--font-085);
}

.gsc-search-button {
  padding: 0.5em;
  border: none;
  color: var(--bs-body-color);
  background: transparent;
  cursor: pointer;
}

.gsc-search-button svg{
	font-size: 2em;
}

.gsc-search-button:hover {
	color: var(--jt-link-hover);
}

.dark-mode {
	.gsc-search-button:hover {
    	color: var(--user-sky-blue);
	}
}


/* フッター */

#footer {
	display: grid;
	align-content: space-between;
	gap: 5em;
	grid-template-columns: 100%;
	margin-top: 12vh;
	height: 20vh;
	background: var(--gradient-licorice-midnight-blue);
    box-shadow: var(--shadow-art-light-reverse);
	color: var(--jt-footer-color);
	font-size: var(--font-075);
}

.dark-mode {
	#footer {
		background: var(--gradient-dark-purple-licorice);
    	box-shadow: var(--dark-shadow-art-light-reverse);
	}
}

#footer p{
	font-size: var(--font-075);
}

#socket {
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	color: var(--jt-footer-color);
}

#footer a {
    color: var(--user-electric-blue);
}

#footer a:hover {
    color: var(--jt-link-hover);
}


/* figure */

figure {
	display: grid;
	gap: 1em;
	grid-template-columns: 100%;
	padding: 1em;
    text-align: center;
	overflow: visible;
}

.paper-header {
	display: block;
	margin-top: 0;
    text-align: start;
}

.paper-header blockquote {
	margin-bottom: 1em;
}

figcaption {
	font-size: var(--font-08);
}

figcaption a,
figcaption p,
figcaption blockquote{
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	font-size: var(--font-08);
}

iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-08);
	box-shadow: var(--shadow-regular);
    contain: strict;
}

.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}

.bluesky-embed {
	margin-left: auto;
	margin-right: auto;
}

/* image */

img,
canvas {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

.img-spacer {
	display: grid;
	gap: 1em;
    grid-auto-flow: column; 
    grid-auto-columns: minmax(0, 1fr); 
    justify-content: stretch; 
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

.box-img {
	display: grid;
	gap: 1em;
	grid-template-columns: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
	overflow: visible;
}

.box-img img {
  box-shadow: var(--shadow-regular);
}

.box-img320 {
	width: 320px;
	max-width: 60%;
}

.box-img400 {
	width: 400px;
	max-width: 70%;
}

.box-img480 {
	width: 480px;
	max-width: 80%;
}

.box-img560 {
	width: 560px;
	max-width: 90%;
}

.box-img640 {
	width: 640px;
	max-width: 95%;
}

.box-img720 {
	width: 720px;
	max-width: 95%;
}

.box-img320-circle {
    margin-left: auto;
	margin-right: auto;
	width: 320px;
	max-width: 95%;
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}


/* table */

.table-responsive {
	margin: 0;
    justify-items: start;
    contain: content;
}

table {
	display: block;
	max-width: 100%;
	font-size: var(--font-085);
	overflow: visible;
}

th,
td {
	text-align: center;
	padding: 0.25em 1em;
	border: solid 1px var(--bs-gray-300);
	font-weight: var(--bs-body-font-weight);
	white-space: nowrap;
}

th {
  background-color: var(--jt-bg-light);
}

tr:hover {
  background-color: var(--jt-bg-light);
}

.dark-mode {
    th, td{
		border:1px solid var(--user-dark-border-05);
    }
}

.table-responsive figcaption{
    text-align: start;
    margin-left: 1em;
}

.table-narrow th, .table-narrow td{
  padding: 0.125rem 0.5em;
}


/* 箱物 */

.box-points {
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	width: 600px;
	max-width: 90%;
	font-family: var(--font-bizgothic);
	margin: 2em auto 0;
	padding: 2em 1em;
    color: var(--jt-heading-color);
    border: solid 2px var(--jt-heading-color);
    border-radius: var(--radius-04);
    background: var(--bs-header-bg);
    box-shadow: var(--shadow-light);
}

.box-points h2 {
	margin: 0;
	padding: 0;
	background: transparent!important;
	color: var(--jt-heading-color);
	box-shadow: none;
}

.box-next {
	display: inline-block;
	margin: 0 2em 2em 0;
    padding: 1em;
    border: dotted 2px var(--bs-body-color) ;
    border-radius: var(--radius-04);
}

.box-next a,
.box-next p {
	display: inline;
}

.box-ref {
	font-size: var(--font-09);
	background: var(--jt-bg-light);
	padding: 1em;
	margin-bottom: -1em;
}

.box-ps {
	display: grid;
	grid-template-columns: 100%;
	gap: 0.5em;
	font-size: var(--font-09);
	background: var(--jt-bg-light);
	padding: 1em;
}

.dark-mode {
	.box-points,
	.box-next {
		border-color: var(--user-dark-border-05);
	}
}


/* ブログカード */

.blogcard-auto {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 1em;
	margin-right: 1em;
	padding: 0;
	max-width: 90%;
	max-height: 7em;
    aspect-ratio: 100 / 33;
    border-radius: var(--radius-04);
	box-shadow: var(--shadow-regular);
}

.blogcard p {
	margin-left: auto;
    margin-right: auto;
}

.blogcard-link {
	display: block grid;
	grid-template-columns: 33% 67%;
    width: 100%;
    height: 100%;
	max-height: 7em;
    aspect-ratio: 100 / 33;
	color: var(--bs-body-color);
	contain: strict;
}

.blogcard-link-no-image {
	grid-template-columns: 100%;
}

.blogcard .blogcard-link {
	text-decoration: none;
}

.blogcard-image-container {
    width: 100%;
	height: 100%;
    border-top-left-radius: var(--radius-04);
    border-bottom-left-radius: var(--radius-04);
	box-shadow: var(--shadow-light);
    overflow: hidden;
}
 
.blogcard-image {
    width: 100%;
	height: 100%;
    object-fit: cover;
}

.blogcard-content {
    margin-left: auto;
    margin-right: auto;
	padding-left: 7%;
    padding-right: 7%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.blogcard-title {
	line-height: 1.3;
	font-size: var(--font-08);
	min-height: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.blogcard blockquote {
	margin: 0;
	padding: 0;
	border: 0;
}
 
.blogcard-description {
	margin: 0;
	padding: 0;
	font-size: var(--font-07);
	min-height: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.blogcard-footer {
	width: 100%;
	font-size: 12px;
	min-height: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
 
.blogcard-footer img {
    display: inline;
	margin-right: 0.75em;
	box-shadow: none;
}

.blogcard:hover {
    box-shadow: var(--shadow-light);
}

.blogcard-link:hover {
	color: var(--jt-link-hover);
}

.dark-mode .blogcard {
	background: var(--gradient-dark-purple-licorice);
	outline: 1px solid var(--user-dark-border-03);
}

.dark-mode .blogcard:hover {
	outline-color: var(--jt-link-hover-03);
}

.blogcard-image-wrapper,
.blogcard-image-container {
	animation: fade-opacity-10 10s infinite;
}
